/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/11/2017, 15:19:59
    Author     : Raizen
*/

.centro{
    margin-top: 2%;
    position: absolute;
    left: 15%;
}

.menu-lateral{
    margin-top: 50px;
    position: fixed;
}

a:link {
   color: gray;
}

/* link que foi visitado */
a:visited {
    color: silver;
}

/* mouse over */
a:hover {
    color: white;
}

/* link selecionado */
a:active {
    color: white;
}
